streamlit==1.35.0
sentence-transformers==2.7.0
transformers==4.41.2
huggingface-hub==0.23.0
torch>=2.2.0
PyMuPDF==1.24.3
spacy==3.7.4
scikit-learn==1.4.2
tqdm==4.66.4
requests==2.31.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
